

#one{								/*this styles player one*/
	background-color: red;
	padding: 5%;
	width: 5vw;
	margin: 2%; 

	/*margin-left: 20%;
*/
}

#two{								/*this styles player two*/
	background-color: blue;
	padding: 5%;
	width: 5vw;
	margin: 2%;
	
	/*margin-left: 10%;*/
	
}

#finishLine{					/*this styles a finishline so the player knows how far to press*/
	
	background-color: black;

	position: absolute;

	margin-left: 75%;

	height:  50vh;
	width: 1vh;

	z-index: -1;
	
}

#howToPlayPlayerOne{			/*this is just some stuff to help player one know how to play*/
	display: inline-block;
	background-color: red;
	padding: 1%;
	margin: 1%;
	margin-top: 20px;
}

#howToPlayPlayerTwo{			/*this is just some stuff to help player two know how to play*/
	display: inline-block;
	background-color: blue;
	padding: 1%;
	margin: 1%;
	margin-top: 20px;
}

.keyToclic{						/*just a visual tihng*/
	margin-left: 4%;
	border: solid gold 2px;
	font-size: 5em;
}


