

#one{								/*this styles player one*/
	background-color: red;
	padding: 5%;
	width: 5vw;
	margin: 2%; 

	/*margin-left: 20%;
*/
}

#two{								/*this styles player two*/
	background-color: blue;
	padding: 5%;
	width: 5vw;
	margin: 2%;
	
	/*margin-left: 10%;*/
	
}

#finishLine{					/*this styles a finishline so the player knows how far to press*/
	
	background-color: black;

	position: absolute;

	margin-left: 75%;

	height:  50vh;
	width: 1vh;

	z-index: -1;
	
}