
/*this just get the hole page black*/
body{
	background-color: black
	
}

/*this is the cool circle thing*/
div{
	color: white;
	
	/*margin-top: 30vh;*/
	padding: 20%;

	border: solid white 5px;
	
	height: 30vh;
	width: 30vh;

	border-radius: 50%;
}


/*This styles the link*/
a{	
	background-color: white;
	padding: 2%;
	color: black;
	text-decoration: none;
	border: 1px white solid;
}